{% extends "layout.html" %}
{ % load static %}
{% block content %}

<h3>Current Time and Date:</h3><p2>
{% now "jS F Y H:i" %}
</p2><br><br>

<h1>Aggregate Usage of Points Monthly  Report</h1>


<h1>Users With Leftover Points Report</h1>
{% if data %}
	<table style = "width:30%">
		<tr>
			<th>User Id</th>
			<th>Username</th>
			<th>Points Left</th>
		</tr>
		{% for user in leftover_users %}
		<tr>
			<td>{{user.0}}</td>
			<td>{{user.1}}</td>
			<td>{{user.2}}</td>
			
		</tr>
		{% endfor %}
	</table>
{% endif %}

<h1>Redemption Report</h1>
{% if data %}
	<table style = "width:30%">
		<tr>
			<th>Transaction Month</th>
			<th>User Id</th>
			<th>Points Redeemed</th>
		</tr>
		{% for redemption in data %}
		<tr>
			<td>{{redemption.month}}</td>
			<td>{{redemption.user_id}}</td>
			<td>{{redemption.points_redeemed__sum}}</td>
			
		</tr>
		{% endfor %}
	</table>
{% endif %}

{% endblock %}