{% load staticfiles %}
<head>
	<title>{% block title %}Points{% endblock %}</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" >
	<!-- type="text/css" -->
</head>
<body>

		<ul>
			<li><a href="{% url 'logout' %}">Logout</a>

			{% if admin == 0 %}

			<li><a href="{% url 'userhistory' %}">Points History</a>
			<li><a href="{% url 'redeem' %}">Redeem Points</a>
			<li><a href="{% url 'send' %}">Gift Points</a>
			<li><a href="{% url 'hub' %}">User Hub</a>
			{% endif %}

			{% if admin == 1 %}
			<li><a href="{% url 'reset' %}">Reset Points</a>
			<li><a href="{% url 'redemptionReport' %}">Reports</a>
			<li><a href="{% url 'hub' %}">Admin Hub</a>
			{% endif %}

		</ul>
	</nav>

{% block content %}
{% endblock %}